.cardContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    border: 1px solid rgb(114, 114, 114);
    cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
}

.cardContainer:hover {
    transform: scale(1.05);
    transition: all 0.5s linear;
}

.parkingPic {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    padding: 0.5rem;
}

.parkingName,
.parkingPhone,
.location,
.score,
.reviews,
.starsContainer {
    width: calc(100% / 7);
    text-align: center;
}

.starsContainer i {
    color: #ffdc00;
    fill: #ffdc00;
}
